<launch>

  <param name="robot_description" textfile="$(find unitree_go2_description)/urdf/go2_description.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find unitree_go2_description)/launch/check_joint.rviz" />
</launch>
