<launch>

    <arg name="use_unitree_sdk2" default="true" />
    <arg name="description_name" default="legged_robot_description" />

    <!-- load urdf to parameter server -->
    <param name="$(arg description_name)" textfile="$(find unitree_go2_description)/urdf/go2_description.urdf" />

    <!-- set global parameter -->
    <param name="use_unitree_sdk2" value="$(arg use_unitree_sdk2)" />
    <param name="robot_config/unitree_sdk2/network_interface" value="lo"/> 

    <rosparam file="$(find unitree_go2_description)/config/robot.yaml" command="load"/>

    <node name="legged_mujoco" pkg="legged_mujoco" type="legged_mujoco" respawn="false" clear_params="true" output="screen" />


    <group if="$(arg use_unitree_sdk2)">
        <!-- use unitree_sdk2 HW -->
        <param name="unitree_sdk2/network_interface" value="lo"/> 
        <node name="unitree_sdk2_go2" pkg="unitree_sdk2_hw" type="unitree_sdk2_go2" respawn="false" clear_params="true" output="screen" />
    </group>
</launch>